@import "../../styles//colors";
@import "../../styles//fonts";
@import "../../styles//mixins";

.active-tag {
  @include flex-center;
  width: 90px;
  height: 30px;
  background: rgba(57, 205, 98, 0.1);
  color: rgba(57, 205, 98, 1);
  border-radius: 100px;
  font-family: $workSans;
}
