@import "../../styles//colors";
@import "../../styles//fonts";
@import "../../styles//mixins";

.inactive {
  @include flex-center;
  width: 90px;
  height: 30px;
  border-radius: 100px;
  font-family: $workSans;
  background: rgba(84, 95, 125, 0.1);
  color: rgba(84, 95, 125, 1);
}
