@import "./colors";
@import "./fonts";
@import "./mixins";

.userDetails-page {
  font-family: $workSans;
  color: $primary;

  .main {
    display: flex;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .user-details {
      flex: 1;
      height: 90vh;
      overflow-y: scroll;
      width: 100%;
      background-color: #fbfbfb;
      display: flex;
      flex-direction: column;
      box-shadow: rgba(204, 219, 232, 0.5) 1px 1px 4px 0px inset,
        rgba(255, 255, 255, 0.5) -1px -1px 4px 1px inset;

      &::-webkit-scrollbar {
        display: none;
      }

      .back {
        display: flex;
        padding-left: 35px;
        margin-top: 40px;

        .link {
          .back-icon {
            color: $primary !important;
          }
        }

        p {
          margin-left: 15px;
        }
      }

      .header-user {
        display: flex;
        justify-content: space-between;
        background: none;
        margin-left: 25px;
        background: none;

        flex-direction: column;

        @media screen and (min-width: 600px) {
          flex-direction: row;
          align-items: center;
        }
        width: 90vw;

        @media screen and (min-width: 900px) {
          width: 95vw;
        }

        @media screen and (min-width: 1100px) {
          width: 72vw;
        }

        @media screen and (min-width: 1300px) {
          width: 78vw;
        }

        .title {
          border: 0px;
          h4 {
            font-size: $regularSize;
            font-weight: $mediumWeight;
          }
        }

        .buttons {
          display: flex;
          flex-direction: row;
          column-gap: 10px;
          padding: 5px 2px;

          .button {
            font: {
              family: $workSans !important;
              size: $smallSize !important;
              weight: $mediumWeight !important;
            }
            letter-spacing: 0.1em;
            width: 170px;
            height: 40px;
          }

          .blacklist {
            color: $red;
            border: 1px solid $red;
            border-radius: 8px;

            &:hover {
              background-color: rgba(228, 3, 59, 0.1);
            }
          }

          .activate {
            color: $blue;
            border: 1px solid $blue;
            border-radius: 8px;

            &:hover {
              background-color: rgba(57, 205, 204, 0.1);
            }
          }
        }
      }

      .section-1 {
        margin-left: 25px;
        background-color: #fff;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        width: 90vw;

        @media screen and (min-width: 900px) {
          width: 95vw;
        }

        @media screen and (min-width: 1100px) {
          width: 72vw;
        }

        @media screen and (min-width: 1300px) {
          width: 78vw;
        }

        .up {
          display: flex;
          margin-top: 20px;
          margin-left: 20px;

          .user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-right: 1px solid rgba(84, 95, 125, 0.2);

            @media screen and (min-width: 700px) {
              flex-direction: row;
            }

            .avatar {
              height: 50px;
              width: 50px;

              @media screen and (min-width: 600px) {
                height: 100px;
                width: 100px;
              }
            }

            .name {
              @media screen and (max-width: 600px) {
                h3 {
                  font-size: 12px;
                }
              }
              line-height: 1px;
              margin-left: 20px;
              margin-right: 30px;
              display: inline-block;

              p {
                font-size: $smallSize;
              }
            }
          }

          .user-tier {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px;
            padding-right: 30px;
            border-right: 1px solid rgba(84, 95, 125, 0.2);

            p {
              margin-top: 15px;
            }

            @media screen and (max-width: 600px) {
              p {
                font-size: 12px;
              }
            }
          }

          .user-balance {
            @media screen and (max-width: 600px) {
              h2 {
                font-size: 13px;
              }
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1px;
            padding-left: 10px;

            p {
              font-size: 12px;
            }

            @media screen and (max-width: 600px) {
              p {
                font-size: 8px;
              }
            }
          }
        }

        .down {
          margin-top: 50px;
          display: flex;
          justify-content: space-between;
          padding: 0px 10px;

          .link-container {
            @include flex-center;
            width: 200px;

            .link {
              text-decoration: none;
              color: $primary;
              font-family: $sfCompact;

              @media screen and (max-width: 600px) {
                font-size: 10px;
              }
            }
          }

          .active {
            border-bottom: 3px solid $blue;

            .link {
              color: $blue;
            }
          }
        }
      }

      .section-2 {
        margin-left: 25px;
        margin-bottom: 50px;
        margin-top: 30px;
        background-color: #fff;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;

        width: 90vw;

        @media screen and (min-width: 900px) {
          width: 95vw;
        }

        @media screen and (min-width: 1100px) {
          width: 72vw;
        }

        @media screen and (min-width: 1300px) {
          width: 78vw;
        }

        .personal-details {
          margin: 0 25px 0px 25px;

          h4 {
            font-family: $sfCompact;
            font-size: $smallSize;

            @media screen and (min-width: 600px) {
              font-size: $mediumSize;
            }
          }

          .details {
            display: grid;
            grid-template-columns: 150px 150px 150px 150px 150px;
            column-gap: 150px;
            row-gap: 30px;

            grid-template-columns: 150px 150px;
            column-gap: 40px;
            row-gap: 30px;

            @media screen and (min-width: 600px) {
              grid-template-columns: 150px 150px 150px;
              column-gap: 35px;
              row-gap: 30px;
            }

            @media screen and (min-width: 700px) {
              grid-template-columns: 150px 150px 150px;
              column-gap: 70px;
              row-gap: 30px;
            }

            @media screen and (min-width: 900px) {
              grid-template-columns: 150px 150px 150px 150px;
              column-gap: 70px;
              row-gap: 30px;
            }

            @media screen and (min-width: 1100px) {
              grid-template-columns: 150px 200px 150px 150px;
              column-gap: 130px;
              row-gap: 30px;
            }

            @media screen and (min-width: 1600px) {
              grid-template-columns: 200px 200px 200px 200px 200px;
              column-gap: 80px;
              row-gap: 30px;
            }
            div {
              line-height: 2px;
              font-family: $workSans;
              p {
                text-transform: uppercase;
                font-size: $smallSize;
                font-weight: $smallWeight;
                font-weight: $workSans;
              }
            }
          }
        }

        hr {
          margin: 20px 25px;
          opacity: 0.1;
          border: 1px solid $primary;
        }

        .education {
          margin: 0 25px 0px 25px;

          h4 {
            font : {
              font-family: $sfCompact;
            }

            font-family: $sfCompact;
            font-size: $smallSize;

            @media screen and (min-width: 600px) {
              font-size: $mediumSize;
            }
          }

          .details {
            display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            column-gap: 150px;
            row-gap: 30px;

            grid-template-columns: 150px 150px;
            column-gap: 40px;
            row-gap: 30px;

            @media screen and (min-width: 600px) {
              grid-template-columns: 150px 150px 150px;
              column-gap: 35px;
              row-gap: 30px;
            }

            @media screen and (min-width: 700px) {
              grid-template-columns: 150px 150px 150px;
              column-gap: 70px;
              row-gap: 30px;
            }

            @media screen and (min-width: 900px) {
              grid-template-columns: 150px 150px 150px 150px;
              column-gap: 70px;
              row-gap: 30px;
            }

            @media screen and (min-width: 1100px) {
              grid-template-columns: 210px 150px 150px 150px;
              column-gap: 80px;
              row-gap: 30px;
            }

            @media screen and (min-width: 1600px) {
              grid-template-columns: 200px 200px 200px 200px;
              column-gap: 80px;
              row-gap: 30px;
            }

            div {
              line-height: 2px;
              font-family: $workSans;
              p {
                text-transform: uppercase;
                font-size: $smallSize;
                font-weight: $smallWeight;
                font-weight: $workSans;
              }
            }
          }
        }

        .socials {
          margin: 0 25px 0px 25px;

          h4 {
            font : {
              font-family: $sfCompact;
            }

            font-family: $sfCompact;
            font-size: $smallSize;

            @media screen and (min-width: 600px) {
              font-size: $mediumSize;
            }
          }

          .details {
            display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            column-gap: 150px;
            row-gap: 30px;

            grid-template-columns: 150px 150px;
            column-gap: 40px;
            row-gap: 30px;

            @media screen and (min-width: 600px) {
              grid-template-columns: 150px 150px 150px;
              column-gap: 35px;
              row-gap: 30px;
            }

            @media screen and (min-width: 700px) {
              grid-template-columns: 150px 150px 150px;
              column-gap: 70px;
              row-gap: 30px;
            }

            @media screen and (min-width: 900px) {
              grid-template-columns: 150px 150px 150px 150px;
              column-gap: 70px;
              row-gap: 30px;
            }

            @media screen and (min-width: 1100px) {
              grid-template-columns: 150px 150px 150px 150px 150px;
              column-gap: 80px;
              row-gap: 30px;
            }

            @media screen and (min-width: 1600px) {
              grid-template-columns: 200px 200px 200px 200px 200px;
              column-gap: 80px;
              row-gap: 30px;
            }

            div {
              line-height: 2px;
              font-family: $workSans;
              p {
                text-transform: uppercase;
                font-size: $smallSize;
                font-weight: $smallWeight;
                font-weight: $workSans;
              }
            }
          }
        }

        .guarantor {
          margin: 0 25px 0px 25px;

          h4 {
            font : {
              font-family: $sfCompact;
            }

            font-family: $sfCompact;
            font-size: $smallSize;

            @media screen and (min-width: 600px) {
              font-size: $mediumSize;
            }
          }

          .details {
            display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            column-gap: 150px;
            row-gap: 30px;

            grid-template-columns: 150px 150px;
            column-gap: 40px;
            row-gap: 30px;

            @media screen and (min-width: 600px) {
              grid-template-columns: 150px 150px 150px;
              column-gap: 35px;
              row-gap: 30px;
            }

            @media screen and (min-width: 700px) {
              grid-template-columns: 150px 150px 150px;
              column-gap: 70px;
              row-gap: 30px;
            }

            @media screen and (min-width: 900px) {
              grid-template-columns: 150px 150px 150px 150px;
              column-gap: 70px;
              row-gap: 30px;
            }

            @media screen and (min-width: 1100px) {
              grid-template-columns: 200px 200px 200px 150px 150px;
              column-gap: 80px;
              row-gap: 30px;
            }

            @media screen and (min-width: 1600px) {
              grid-template-columns: 200px 200px 200px 200px 200px;
              column-gap: 80px;
              row-gap: 30px;
            }

            div {
              line-height: 2px;
              font-family: $workSans;
              p {
                text-transform: uppercase;
                font-size: $smallSize;
                font-weight: $smallWeight;
                font-family: $workSans;
              }
            }
          }
        }

        .user-overall {
          margin: 0 25px 0px 25px;

          h4 {
            font-family: $sfCompact;
            font-size: $smallSize;

            @media screen and (min-width: 600px) {
              font-size: $mediumSize;
            }
          }

          .details {
            display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            column-gap: 150px;
            row-gap: 30px;
            margin-top: 70px;

            grid-template-columns: 150px 150px;
            column-gap: 40px;
            row-gap: 30px;

            @media screen and (min-width: 600px) {
              grid-template-columns: 150px 150px 150px;
              column-gap: 35px;
              row-gap: 30px;
            }

            @media screen and (min-width: 700px) {
              grid-template-columns: 150px 150px 150px;
              column-gap: 70px;
              row-gap: 30px;
            }

            @media screen and (min-width: 900px) {
              grid-template-columns: 150px 150px 150px 150px;
              column-gap: 70px;
              row-gap: 30px;
            }

            @media screen and (min-width: 1100px) {
              grid-template-columns: 200px 200px 150px 150px 150px;
              column-gap: 80px;
              row-gap: 30px;
            }

            @media screen and (min-width: 1600px) {
              grid-template-columns: 200px 200px 200px 200px 200px;
              column-gap: 80px;
              row-gap: 30px;
            }

            div {
              line-height: 2px;
              font-family: $workSans;
              p {
                text-transform: uppercase;
                font-size: $smallSize;
                font-weight: $smallWeight;
                font-weight: $workSans;
              }
            }
          }
        }
      }
    }
  }
}
